@import "~lbh-frontend/lbh/base";
@import "~lbh-frontend/lbh/core/typography";
@import "~lbh-frontend/lbh/components/lbh-page-announcement/page-announcement";
@import "~lbh-frontend/lbh/components/lbh-back-link/back-link";
@import "~lbh-frontend/lbh/settings/colour-palette";

.add-comment-person b {
  font-weight: $lbh-font-weight-bold;
}

.add-comment-spinner {
  display: inline-block;
  border-top: 2px solid currentcolor;
  border-right: 2px solid currentcolor;
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 50%;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  width: 1em;
  height: 1em;
  color: currentColor;
  animation: 0.45s linear 0s infinite normal none running rotation;
  margin-right: 1em;
  vertical-align: middle;
}

.highlight {
  background-color: rgba(lbh-colour("lbh-a04"), 0.5);
  padding: 5px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
